{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
    <span class="flash-error"></span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="login-input") }}
    {% endfor %}
    <button>Log In</button>
    </form>
</div>

{% endblock %}
