{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<h1>Your Profile</h1>

<div id="profile-container">
    <div id="settings-container">
        <h2>My Settings</h2>
            <label for="diet-dd">Diet:</label>
            <select id="diet-dd" name="diet-dd" selected="None">
            <option value="None">None</option>
            <option value="Vegan">Vegan</option>
            <option value="GlutenFree">Gluten Free</option>
            <option value="Ketogenic">Ketogenic</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
            <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
            <option value="Pescetarian">Pescetarian</option>
            <option value="Paleo">Paleo</option>
            <option value="Primal">Primal</option>
            <option value="Whole30">Whole30</option>
        </select>
            <div id="exclusion-container">
            <label for="excluded-tags">Ingredients to exclude:</label>
            <div id="excluded-tags" name="excluded-tags"></div>
            <div id="excluded-input-container">
            <input id="excluded-input" type="text" value=""/>
            </div>
        </div>
        <button id="save-changes-btn">Save Changes</button>
    </div>

    <div id="mealplan-container"></div>
    <div id="grocerlist-container"></div>
    
</div>

<script>
user_id = {{ user.id }}
</script>
<script src="../static/scripts/profile.js"></script>

{% endblock %}
